body {
    margin: 0px;
    padding: 70px 5px;
}

.navbar-default {
    background-color: #c8c8c8;
    border-bottom-color: #888888;
    color: #444;
}

.navbar-default .navbar-nav > li > a {
    color: #444;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
    background-color: #d8d8d8;
}

.label-new {
    background-color: #d9534f;
}