body {
    margin: 0px;
    padding: 70px 5px;
}

.center-title  {
    text-align: center;
}

.navbar-default {
    background-color: #c8c8c8;
    border-bottom-color: #888888;
    color: #444;
}

.navbar-default .navbar-nav > li > a {
    color: #444;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
    background-color: #d8d8d8;
}

.label-new {
    background-color: #d9534f;
}

.list-inline .btn-video {
    margin-bottom: 10px;
}
.btn-video {
    color: #fff;
    background-color: #cd201f;
    border-color: #cd201f;
}

.btn-video {
    color: #fff;
    background-color: #e52d27;
    border-color: #e52d27;
}

.btn-video:hover {
    color: #fff;
    background-color: #b31217;
    border-color: #b31217;
}

.jr-app-link img {
    border: 1px solid #888;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    max-height: 128px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

.jr-app-link:hover img {
    box-shadow: 0px 0px 15px #444;
}

.appname {

}
.app-icons {
    padding-bottom: 30px;
}

.list-group-item>.badge-left {
    float: left;
    margin-right: 25px;
    display: inline-block;
}

.hackathon-text {
    display: inline-block;
}

