body {
    margin: 0px;
    background-color: #808080;
}
#matrix-canvas-stack canvas {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 90%;
    max-width: 800px;
}
#matrix-fallback {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 90%;
    max-width: 800px; 
}