body {
    margin: 0px;
    padding: 70px 5px;
}

#matrix-canvas-stack  {
    z-index: 1;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #808080;
}
#matrix-canvas-stack canvas {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    max-width: 80%;
}
#matrix-fallback {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    max-width: 80%;
}

.content-container {
    background: #FFFFFF;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    position: absolute;
    box-shadow: 0px 5px 5px #606060 inset;
    padding-top: 30px;
}

#map-canvas {
    height: 450px;
}

.container {
    min-width: 100%;
    padding-top: 51px;
}
.about {
    padding-bottom: 20px;
}
.sessions {
    padding-bottom: 20px;
}

.faqs dt {
    font-weight: bold;
}

.directions {
    background: #80a0c0;
}
#map-details {
    color: #ffffff;
}

.center-title  {
    text-align: center;
}
.sessions a {
    color: #FFFFFF;
    font-weight: bold;
}

